<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    PM2 Data
  </h1>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-2">
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="dateTime" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                <img src="assets/img/calendar-icon.png" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row justify-content-center">
    <button class="btn btn-outline-primary"
      type="submit" (click)="getPm2Data()">Submit</button>
  </div>

  <div *ngIf="readings" class="row justify-content-center">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <th>Timestamp</th>
          <th>Updated Timestamp</th>
          <th>PM2 Reading - Central</th>
          <th>PM2 Reading - East</th>
          <th>PM2 Reading - North</th>
          <th>PM2 Reading - South</th>
          <th>PM2 Reading - West</th>
        </thead>
        <tbody>
          <tr *ngFor="let r of readings">
            <td>{{r.timestamp}}</td>
            <td>{{r.update_timestamp}}</td>
            <td>{{r.readings.pm25_one_hourly.central}}</td>
            <td>{{r.readings.pm25_one_hourly.east}}</td>
            <td>{{r.readings.pm25_one_hourly.north}}</td>
            <td>{{r.readings.pm25_one_hourly.south}}</td>
            <td>{{r.readings.pm25_one_hourly.west}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>